* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #65c6e8;
}

.cenario {
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;

    background-color: #65c6e8;
}

.nuvem {
    position: absolute;
    font-size: 90px;
}

.nuvem1 {
    top: 50px;
    left: 15%;
}

.nuvem2 {
    top: 70px;
    right: 15%;
}

.arvore {
    position: absolute;
    bottom: 95px;

    font-size: 160px;
}

.arvore1 {
    left: 40%;
}

.arvore2 {
    right: 8%;
}

.chao {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 130px;
}

.grama {
    width: 100%;
    height: 40px;

    background-color: #63c83f;

    border-top: 7px solid #4caf24;
}

.terra {
    width: 100%;
    height: 90px;

    background-color: #99552f;
}
